{% extends "base.html" %}
{% block title %}Пароль изменен{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
    {% include 'includes/header.html' with index=True %}
    {% load user_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Пароль изменен</h1>
        </div>
        <li class="nav__item"><a href="{% url 'login' %}" class="button button_style_blue">Войти</a></li>
    </main>
{% endblock content %}
