{% extends "base.html" %}
{% block title %}Новый пароль{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href={% static 'pages/form.css' %}>
{% endblock static %}
{% block content %}
    {% load user_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Новый пароль</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post">
                {% csrf_token %}
                <p class="form__info-text">
                    Введите новый пароль
                </p>
                {% include 'registration/includes/form.html' %}
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Сохранить пароль</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
