{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
    {% csrf_token %}
    {% load user_filters %}
    <body class="body">
    <main class="main container">
        <div class="container">
            <h1>Пароль успешно изменен!</h1>
        </div>
    </main>
    </body>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
{% endblock scripts %}