{% extends "base.html" %}
{% block title %}Письмо отправлено{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
    {% include 'includes/header.html' with index=True %}
    {% load user_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Письмо отправлено</h1>
        </div>
        <p>Письмо с инструкцией по восстановлению пароля отправлено на Вашу почту!</p>
    </main>
{% endblock content %}
