{% extends "base.html" %}
{% block title %}Список покупок{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock static %}
{% block content %}
    {% include 'includes/header.html' with purchase_list=True recipe=recipe %}
    {% csrf_token %}
    {% load thumbnail %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Список покупок</h1>
        </div>
        <div class="card-list card-list_column">
            <ul class="shopping-list">
                {% load templates_filters %}
                {% for recipe in recipes %}
                    <li class="shopping-list__item" data-id="{{ recipe.recipe.id }}">
                        <div class="recipe recipe_reverse">
                            <img src="{{ recipe.recipe.image.url }}" alt="{{ recipe.recipe.title }}"
                                 class="recipe__image recipe__image_big">
                            <h3 class="recipe__title"><a style="color: #000"
                                                         href="{% url 'recipe' recipe.recipe.id %}">{{ recipe.recipe.title }}</a>
                            </h3>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.recipe.cook_time }} мин.
                            </p>
                        </div>
                        <a href="{% url 'purchase_recipe_delete' recipe.recipe.id %}"
                           class="shopping-list__button link">Удалить</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'purchase_list_download' %}">
                <button class="button button_style_blue">Скачать список</button>
            </a>
        </div>
    </main>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'js/components/ShopList.js' %}"></script>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'shopList.js' %}"></script>
{% endblock scripts %}
