{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock static %}
{% block content %}
    {% autoescape off %}
    {% csrf_token %}
    <main class="main container">
        <div class="container">
            <h1>{{ flatpage.title }}</h1>
            {{ flatpage.content }}
        </div>
    </main>
    {% endautoescape %}
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
{% endblock scripts %}