{% load templates_filters %}

{% if user.is_authenticated and user.id != author.id %}
    {% if author|is_follow:user %}
        {% if profile %}<p style="padding: 0 0 2em 0;">{% else %}<li class="single-card__item">{% endif %}<button class="button button_style_light-blue button_size_subscribe" name="subscribe"> Отписаться от автора </button>
    {% else %}
        {% if profile %}<p style="padding: 0 0 2em 0;">{% else %}<li class="single-card__item">{% endif %}<button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button>
    {% endif %}
{% endif %}